<h2 id="h2-how-to-order">How to Order</h2>
<div class="order-menu">
  <div class="order-menu-item">
    <img src="../../../assets/img/noodle.png" alt="" />
    <div id="order-menu-item-txt-1" class="order-menu-item-txt">Pick your noodle</div>
  </div>
  <div class="order-menu-item">
    <img src="../../../assets/img/broth.png" alt="" />
    <div class="order-menu-item-txt">Pick your broth</div>
  </div>
  <div class="order-menu-item">
    <img src="../../../assets/img/egg.png" alt="" />
    <div class="order-menu-item-txt">Add your toppings</div>
  </div>
</div>