* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}


/* raleway-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../../sakura/src/assets/font/raleway-v29-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* raleway-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: italic;
    font-weight: regular;
    src: url('../../sakura/src/assets/font/raleway-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* raleway-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../../sakura/src/assets/font/raleway-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

.fontRaleway {
    font-family: 'Raleway';
}

/* STlyes*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: regular;
  margin: 0;
}

h1, .h1-second-title {
  color: #fff;
  margin: 0 0 8px 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 96px;
  font-weight: bold;
}
.h1-second-title  {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: regular;
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #9F0908;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
}

h3 {
  font-family: 'Economica', sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: normal;

}

img.footer-mobile {
  display: none;
}
p {
  margin: 0;
}

.main-content {
  max-width: 1440px;
  margin: auto;
  position: relative;
  margin:auto;
}

/* Header */

section.header {
  background-image: url("../../sakura/src/assets/img/hero.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  object-fit: cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.navigation-wrapper {
  height: 112px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.navigation.logo {
  width: 64px;
  height: 64px;
}
.navigation-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.navigation-menu ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
}
.navigation-menu ul li:not(:last-child) {
  padding-right: 30px;
}
.navigation-menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation-menu li a:hover { 
  color:#9F0908;
}

li.phone {
  display: flex;
  background-color: #9F0908;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer!important;
}

li.phone:hover {
  background-color: #c30e0e;
  color: #fff;
}
li.phone a:hover {
  color: #fff;
}

li.phone img {
  padding-right: 8px;
}
.order, .menu {
  padding: 120px 0;
}
.find-us {
 padding: 120px 0 0 0;
}
/* Order section */

.order-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.order-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-menu-item img {
  width: 140px;
  margin-top: 64px;
  margin-bottom: 16px;
}

.order-menu-item-txt {
  font-family: 'Economica', sans-serif;
  font-size: 56px;
  font-weight: bold;
}
section.menu {
  background-image: url("´../../assets/img/bg-menu.jpg");
  background-size: cover;
}

/* menu section */
.menu-item {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.menu-item:not(:last-child) {
  padding-bottom: 56px;
}

.menu-item-reverse {
  flex-direction: row-reverse;
}
.menu-img {
  width: 40%;
}
.menu-item-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.menu-item-title {
  font-family: 'Economica', sans-serif;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 16px;
}

.menu-item-info {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #675E54;
}

.menu-item-info:not(:last-child) {
  margin-bottom: 8px;
}
/* find us section */
.address {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.address-info {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: regular;
}

.address-img {
  width: 35px;
  object-fit: contain;
}
iframe {
  width: 100%;
  height: 50vh;
  margin-top: 64px;
}

/* menu section */
.footer {
  background-color: #0A141E;
  height: 144px;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 144px;
}

.footer-logo img {
  height: 44px;
  width: auto;
}

.footer-links {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links img {
  width: 40px;
  height: 40px;
}

/* MOBILE*/

@media (max-width: 929px) {
  h1 {
    font-size: 72px;
  }
  .h1-second-title {
    font-size: 20px;
  }

  h2 {
    font-size: 64px;
    margin-bottom: 48px;
  }

  img.footer-desc {
    display: block;
  }

  .header-content {
    text-align: center;
  }
  .header {
    background-position: center;
  }
  .navigation-wrapper {
    height: 16px;
  }
  .navigation-menu ul li:not(:last-child) {
    display: none;
    font-size: 20px;
  }
  .order, .menu {
    padding: 96px 0;
  }
  .find-us {
    padding: 96px 0 0 0;
  }
  .menu-item {
    flex-direction: row;
  }
  .order-menu-item img {
    width: 112px;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .order-menu-item-txt {
    width: 75%;
    text-align: center;
    font-size: 32px;
  }
  .menu-item {
    gap: 24px;
    margin: 0 20px;
  }
  .menu-img {
  width: 352px;
  }
  .menu-item-list {
    width: 100%;
  }
 
  .menu-item:not(:last-child) {
    padding-bottom: 32px;
  }
  .menu-item-title {
    font-size: 32px;
  }
  .menu-item-info {
    font-size: 24px;
  }

  .find-us h2 {
    margin-bottom: 8px;
  }
  .info {
    font-size: 20px;
  }
  .address-img {
    width: 20px;
  }

  iframe {
    margin-top: 40px;
  }
  .footer {
    height: 86px
  }
  .footer-inner {
    height: 86px;
    padding: 0 15px;
  }
  .footer-desc {
    display: none;
  }

  .footer-links {
    width: inherit;
    gap:10px;
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  img.footer-mobile {
    width: 40px;
    display: block;
  }
  img.footer-desc {
    display: none;
  }
  h1 {
    font-size: 44px;
  }
  .h1-second-title {
    font-size: 16px;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .navigation-menu {
    font-size: 16px;
  }
  .order, .menu {
    padding: 72px 0;
  }
  .order-menu {
    flex-direction: column;
    gap: 32px;
  }
  .menu-img {
    width: 300px;
  }
.order-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .find-us {
    padding: 72px 0 0 0;
  }
  .menu-item {
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .info {
    font-size: 16px;
  }
}