
<div class="navigation-wrapper">
  <div class="navigation-inner">
    <div class="navigation-logo">
      <a href="#"><img src="./img/sakura-logo.svg" alt="" /></a>
    </div>
    <div class="navigation-menu">
      <ul>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#locations">Locations</a></li>
        <li><a href="#about">About</a></li>
        <li class="phone">
          <img src="./img/phone.svg" alt="" />
          <a href="tel:017654564534">0176 54564534</a>
        </li>
      </ul>
      <ul class="language-switch">
      <li><button onclick="de()">Deutsch</button></li>
      <li><button onclick="en()">Englisch</button></li>
      </ul>
    </div>
  </div>
</div>