<h2>OUR MENU</h2>
        <div class="menu-item">
          <img class="menu-img" src="../../../assets/img/tonkotsu.png" alt="" />
          <div class="menu-item-list">
            <div class="menu-item-title">Tonkotsu Ramen</div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">CHICKEN</div>
              <div class="menu-item-info-txt">11.95€</div>
            </div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">BEEF</div>
              <div class="menu-item-info-txt">12.95€</div>
            </div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">SHRIMP</div>
              <div class="menu-item-info-txt">13.95€</div>
            </div>
          </div>
        </div>
        <!-- REVERSE -->
        <div class="menu-item menu-item-reverse">
          <img class="menu-img" src="../../../assets/img/spicy.png" alt="" />
          <div class="menu-item-list">
            <div class="menu-item-title">Spicy Miso Ramen</div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">CHICKEN</div>
              <div class="menu-item-info-txt">11.95€</div>
            </div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">BEEF</div>
              <div class="menu-item-info-txt">12.95€</div>
            </div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">SHRIMP</div>
              <div class="menu-item-info-txt">13.95€</div>
            </div>
          </div>
        </div>  
         <!-- REVERSE-END -->
         <div class="menu-item">
           <img class="menu-img" src="../../../assets/img/shio.png" alt="" />
          <div class="menu-item-list">
            <div class="menu-item-title">Tonkotsu Ramen</div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">CHICKEN</div>
              <div class="menu-item-info-txt">11.95€</div>
            </div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">BEEF</div>
              <div class="menu-item-info-txt">12.95€</div>
            </div>
            <div class="menu-item-info">
              <div class="menu-item-info-txt">SHRIMP</div>
              <div class="menu-item-info-txt">13.95€</div>
            </div>
          </div>
        </div>